<div class="navbar navbar-sm white lt box-shadow">
  <div class="navbar-item m-t-xs text-md _300 pull-left">{{vm.subtitle}}</div>
  <div ng-if="vm.user.projects.data" class="navbar-item m-t-xs pull-left">
    <ui-select search-enabled="false" theme="bootstrap" class="w-md" ng-model="vm.user.projects.data.selected"
      ng-change="vm.changeProject()">
      <ui-select-match class="ui-select-match" placeholder="Projects">{{$select.selected.content}}</ui-select-match>
      <ui-select-choices class="ui-select-choices" repeat="project in vm.user.projects.data">
        <div ng-bind-html="project.content"></div>
      </ui-select-choices>
    </ui-select>
  </div>
  <div class="pull-right m-y-sm">
    <ui-select search-enabled="false" theme="bootstrap" class="w-md" ng-model="dateRange.selected" ng-change="vm.requestData()">
      <ui-select-match class="ui-select-match" placeholder="Date Range">{{$select.selected.display}}</ui-select-match>
      <ui-select-choices class="ui-select-choices" repeat="range in dateRange">
        <div class="dropdown-divider" ng-show="$index == 4"></div>
        <div ng-bind-html="range.display"></div>
        <span class="text-black-lt text-xs">
              {{range.start | amDateFormat: 'DD/MM/YYYY'}} - {{range.end | amDateFormat: 'DD/MM/YYYY'}}
            </span>
      </ui-select-choices>
    </ui-select>
  </div>
</div>
