<div class="navbar">
  <a data-toggle="modal" data-target="#side" class="navbar-item pull-left hidden-lg-up">
    <i class="material-icons">&#xe5d2;</i>
  </a>
  <div class="navbar-item pull-left h5" ng-if="$state.current.data" ng-bind="$state.current.data.title"
    id="pageTitle"></div>
  <div class="navbar-item pull-left h5" ng-if="vm.title" ng-bind="vm.title" id="pageTitle"></div>
  <div>
    <form class="navbar-form form-inline pull-right navbar-item v-m" role="search">
      <div class="form-group l-h m-a-0">
        <div class="input-group">
          <input type="text" class="form-control b-a form-control-sm" placeholder="Search">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-sm white b-a no-shadow"><i class="fa fa-search"></i></button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
