<div flex-no-shrink>
  <div ui-include="'layout/header.sub.html'"></div>
</div>
<div class="padding">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-lg-4">
      <div class="box-color p-a blue-grey">
        <div class="pull-right m-l">
          <span class="w-20 dker text-center rounded">
            <i class="fa fa-github-alt"></i>
          </span>
        </div>
        <div class="clear">
          <h4 class="m-a-0 text-md">
            <a href>{{vm.repos.count}} <span class="text-sm">New Repositories</span></a>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4">
      <div class="box-color p-a brown">
        <div class="pull-right m-l">
          <span class="w-20 dker text-center rounded">
            <i class="material-icons">&#xE566;</i>
          </span>
        </div>
        <div class="clear">
          <h4 class="m-a-0 text-md">
            <a href>{{vm.commits.count}} <span class="text-sm">Commits Pushed</span></a>
          </h4>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4">
      <div class="box-color p-a light-green">
        <div class="pull-right m-l">
          <span class="w-20 dker text-center rounded">
            <i class="material-icons">&#xE420;</i>
          </span>
        </div>
        <div class="clear">
          <h4 class="m-a-0 text-md">
            <a href>{{vm.releases.count}} <span class="text-sm">Releases Pushed</span></a>
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="box">
        <div class="box-header">
          <h3>Commits</h3>
          <small>Contributions to <i>Master</i> Branches</small>
        </div>
        <div class="box-body">
          <div ng-if="vm.commits.grouped" ui-jp="plot" ui-refresh="vm.commits.grouped" ui-options="
            [{ data: {{vm.commits.grouped}},
              points: { show: true, radius: 3},
              splines: { show: true, tension: 0.45, lineWidth: 0, fill: 0.4}
            }],
            { colors: ['{{app.color.primary}}'],
              series: { shadowSize: 3 },
              xaxis: { show: true, mode: 'time', font: { color: '#575757' }, timezone: 'browser', minTickSize: [1, 'day'], min: {{vm.range.start}}, max: {{vm.range.end}}},
              yaxis:{ show: true, font: { color: '#575757' }, min:1, minTickSize: 1, tickDecimals: 0},
              grid: { hoverable: true, clickable: true, borderWidth: 0, color: 'rgba(120,120,120,0.5)' },
              tooltip: true,
              tooltipOpts: { content: function(label, x, y) { return moment(parseInt(x)).format('DD/MM') + ': ' + y + ' Commit(s)' }, defaultTheme: false, shifts: { x: 0, y: -40 } }
            }" style="height:162px">
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="row">
        <div class="col-xs-12">
          <div class="box p-a">
            <div class="pull-left m-r">
              <span class="sparkline inline" ui-jp="sparkline" ui-refresh="vm.participation.count" ui-options="
              [{{vm.users.count - vm.participation.count}}, {{vm.participation.count}}],
              { type:'pie',
                height:36,
                sliceColors:['{{app.color.light}}','{{app.color.primary}}'],
              }"></span>
            </div>
            <div class="clear">
              <h4 class="m-a-0 text-md">
                <a href>{{vm.participation.utilization * 100}}% <span class="text-sm">Feature Utilization Rate</span></a>
              </h4>
              <small class="text-black-lt">{{vm.participation.count}} Github User(s)</small>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="box p-a dark">
            <div class="pull-left m-r">
              <span class="m-y-sm inline" ui-jp="sparkline" ui-options="[[2,8],[4,6],[6,4],[8,2],[10,0],[8,2],[6,4],[4,6],[2,8]], {type:'bar', height:24, barWidth:4, barSpacing:2, stackedBarColor:['#fff', 'rgba(255,255,255,0.2)']}"></span>
            </div>
            <div class="clear">
              <h4 class="m-a-0 text-md">
                <a href><span class="text-sm">Standard Deviation (Commits):</span> {{vm.commits.deviation.toFixed(2)}}</a>
              </h4>
              <small class="text-white-lt">Max: {{vm.commits.max}} ({{vm.commits.maxDate}}) Min: {{vm.commits.min}} ({{vm.commits.minDate}})</small>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="box p-a ">
            <div class="pull-left m-r">
              <span class="w-40 {{app.theme.warn}} text-center rounded">
                  <i class="fa fa-tags"></i>
              </span>
            </div>
            <div class="clear">
              <h4 class="m-a-0 text-md">
                <a href>{{vm.releases.trackedCount}} <span class="text-sm">Tracked Releases</span></a>
              </h4>
              <small class="text-black-lt">{{vm.releases.count - vm.releases.trackedCount}} Releases Untracked</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="box-header">
      <h2 style="display:inline">Releases</h2>
      <div class="pull-right">
        <a class="btn btn-sm white w-96" ng-click="vm.downloadAssets()">
          <span class="pull-left m-r-sm">
            <i class="fa fa-download pull-left"></i>
          </span>
          <span class="clear text-left l-h-1x">
            <span class="text-black-dk text-xs">Download</span>
          </span>
        </a>
      </div>
    </div>
    <div class="table-responsive">
      <table id="tb" ng-if="vm.releases.data" ui-refresh="vm.releases.data" ui-jp="dataTable" ui-options="{
        destroy: true,
        data: {{vm.releases.data}},
        aoColumns: [
          { mData: 'projectId',
            mRender: function(data, type, full) {
              return '<a href=&quot;/app/project/' + data + '&quot; ui-sref=&quot;app.project&quot;>' + {{vm.projects.map}}[data].content + '</a>';
            }
          },
          { mData: 'projectId',
            mRender: function(data, type, full) {
              return '<a href=&quot;https://github.com/' + {{vm.projects.map}}[data].githubRepoOwner + '/' + {{vm.projects.map}}[data].githubRepoName + '&quot;>' + {{vm.projects.map}}[data].githubRepoOwner + '/' + {{vm.projects.map}}[data].githubRepoName + '</a>' || 'N/A';
            }
          },
          { mData: 'tagName' },
          { mData: 'assets',
            mRender: function(data, type, full) {
              var assets = JSON.parse(data);
              return (!assets || assets.length === 0) ? 'None' : function() {
                var assetString = '';
                var a = {{vm.projects.map}}[full.projectId].githubRepoOwner + '/' + {{vm.projects.map}}[full.projectId].githubRepoName;
                var b = full.tagName;

                assets.forEach(function(asset){
                  assetString += '<a href=&quot;https://github.com/' + a + '/releases/download/' + b + '/' + asset.name + '&quot;>' + asset.name + '</a><br>';
                })
                return assetString.substring(0, assetString.length - 4);
              }();
            }
          },
          { mData: 'date' }
        ]}" class="table table-striped b-t b-b table-hover">
        <thead>
          <tr>
            <th style="width:15%">Project</th>
            <th style="width:25%">Repository</th>
            <th style="width:20%">Release Tag</th>
            <th style="width:20%">Assets</th>
            <th style="width:20%">Date</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
