<div class="p-a white lt box-shadow">
	<div class="row">
		<div class="col-sm-6">
			<h4 class="m-b-0 _300">Hooi Tong</h4>
			<small class="text-muted">Statistics on Hooi Tong's Usage</small>
		</div>
		<div class="col-sm-6 text-sm-right">
			<div class="m-y-sm">
				<span class="m-r-sm">Date Range</span>
				<div class="btn-group dropdown">
					<button class="btn white btn-sm ">Last 7 Days</button>
					<button class="btn white btn-sm dropdown-toggle" data-toggle="dropdown"></button>
					<div class="dropdown-menu dropdown-menu-scale pull-right">
						<a class="dropdown-item" href>30 Days</a>
						<a class="dropdown-item" href>90 Days</a>
						<a class="dropdown-item" href>All-Time</a>
						<a class="dropdown-item" href>Date Range</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="padding">
	<div class="row grey m-b">
		<div class="box-header">
			<h2><i class="fa fa-github-square pull-left"></i>GitHub</h2>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6">
			<div class="row">
				<div class="col-xs-6">
					<div class="box p-a">
						<div class="pull-left m-r">
							<i class="fa fa-upload text-2x text-danger m-y-sm"></i>
						</div>
						<div class="clear">
							<div class="text-muted">Commits (Master)</div>
							<h4 class="m-a-0 text-md _600"><a href>25</a></h4>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="box p-a">
						<div class="pull-left m-r p-r-sm">
							<i class="fa fa-clock-o text-2x text-accent m-y-sm"></i>
						</div>
						<div class="clear">
							<div class="text-muted">Mean Commit Time</div>
							<h4 class="m-a-0 text-md _600"><a href>62 Hours</a></h4>
						</div>
					</div>
				</div>				
				<div class="col-xs-6">
					<div class="box p-a">
						<div class="pull-left m-r">
							<i class="fa fa-pencil-square-o text-2x text-success m-y-sm"></i>
						</div>
						<div class="clear">
							<div class="text-muted">Lines Added / Removed</div>
							<h4 class="m-a-0 text-md _600"><a href>750 / 2000</a></h4>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="box p-a">
						<div class="pull-left m-r">
							<i class="fa fa-bar-chart-o text-2x text-info m-y-sm"></i>
						</div>
						<div class="clear">
							<div class="text-muted">Commits Deviation</div>
							<h4 class="m-a-0 text-md _600"><a href>27 Hours</a></h4>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="row-col box-color text-center teal">
						<div class="row-cell p-a-2">
							Contribution (Commits)
							<h4 class="m-a-0 text-md _600 text-warning"><a href>5%</a></h4>
						</div>
						<div class="row-cell p-a-2 blue">
							Contribution (LOC)
							<h4 class="m-a-0 text-md _600"><a href>15% / 24%</a></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="box">
				<div class="box-header">
					<h3>Commit History</h3>
					<small>List of Commits (master) past 7 days</small>
				</div>
				<div class="box-body" style="overflow-y: auto; height:210px">
					<ul class="list inset">
						<li class="list-item">
							<a herf class="list-left">
								<span class="w-40 r-2x _600 text-lg">
									#
								</span>
							</a>
							<div class="list-body">
								<div class="m-y-sm pull-right">
									<a href class="btn btn-xs white">View<i class="pull-right fa fa-pencil"></i></a>
								</div>
								<div><a href>Added new test cases</a></div>
								<div class="text-sm">
									<span class="text-muted">on 25/1/16 05:24PM</span>
								</div>
							</div>
						</li>
						<li class="list-item">
							<a herf class="list-left">
								<span class="w-40 r-2x _600 text-lg">
									#
								</span>
							</a>
							<div class="list-body">
								<div class="m-y-sm pull-right">
									<a href class="btn btn-xs white">View<i class="pull-right fa fa-pencil"></i></a>
								</div>
								<div><a href>Migrated test cases to another folder</a></div>
								<div class="text-sm">
									<span class="text-muted">on 23/1/16 02:54PM</span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row m-y white">
		<div class="box-header">
			<h2><i class="fa fa-google-plus-square pull-left"></i>Google Drive</h2>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="box">
				<div class="box-header">
					<h3>Drive History</h3>
					<small>Changes made to shared folder</small>
				</div>
				<div class="box-body">
					<div class="box-body" style="overflow-y: auto; height:195px">
						<ul class="list inset">
							<li class="list-item">
								<a herf class="list-left">
									<i class="fa fa-pencil w-40 text-lg"></i>
								</a>
								<div class="list-body">
									<div class="m-y-sm pull-right">
										<a href class="btn btn-xs white">View<i class="pull-right fa fa-pencil"></i></a>
									</div>
									<div><a href>Made a revision to <strong>report.docx</strong></a></div>
									<div class="text-sm">
										<span class="text-muted">on 28/1/16 01:54PM</span>
									</div>	
								</div>
							</li>						
							<li class="list-item">
								<a herf class="list-left">
									<i class="fa fa-cloud-upload w-40 text-lg"></i>
								</a>
								<div class="list-body">
									<div class="m-y-sm pull-right">
										<a href class="btn btn-xs white">View<i class="pull-right fa fa-pencil"></i></a>
									</div>
									<div><a href>Added 1 new document: <strong>report.docx</strong></a></div>
									<div class="text-sm">
										<span class="text-muted">on 23/1/16 02:54PM</span>
									</div>										
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6">
			<div class="row">
				<div class="col-xs-6">
					<div class="box p-a">
						<div class="pull-left m-r">
							<i class="fa fa-upload text-2x text-danger m-y-sm"></i>
						</div>
						<div class="clear">
							<div class="text-muted">Files Contributed</div>
							<h4 class="m-a-0 text-md _600"><a href>2</a></h4>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="box p-a">
						<div class="pull-left m-r p-r-sm">
							<i class="fa fa-clock-o text-2x text-accent m-y-sm"></i>
						</div>
						<div class="clear">
							<div class="text-muted">Mean Revision Time</div>
							<h4 class="m-a-0 text-md _600"><a href>108 Hours</a></h4>
						</div>
					</div>
				</div>				
				<div class="col-xs-6">
					<div class="box p-a">
						<div class="pull-left m-r">
							<i class="fa fa-pencil-square-o text-2x text-success m-y-sm"></i>
						</div>
						<div class="clear">
							<div class="text-muted">Revisions Made</div>
							<h4 class="m-a-0 text-md _600"><a href>750</a></h4>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="box p-a">
						<div class="pull-left m-r">
							<i class="fa fa-bar-chart-o text-2x text-info m-y-sm"></i>
						</div>
						<div class="clear">
							<div class="text-muted">Revision Deviation</div>
							<h4 class="m-a-0 text-md _600"><a href>17 Hours</a></h4>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="row-col box-color text-center teal">
						<div class="row-cell p-a-2">
							Contribution (Revisions)
							<h4 class="m-a-0 text-md _600 text-warning"><a href>90%</a></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row grey m-y">
		<div class="box-header">
			<h2><i class="fa fa-cloud pull-left"></i>Cloud IDE</h2>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6">
			<div class="row">
				<div class="col-xs-6">
					<div class="box p-a">
						<div class="pull-left m-r">
							<i class="fa fa-upload text-2x text-danger m-y-sm"></i>
						</div>
						<div class="clear">
							<div class="text-muted">Active Time</div>
							<h4 class="m-a-0 text-md _600"><a href>2.5 Hours</a></h4>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="box p-a">
						<div class="pull-left m-r">
							<i class="fa fa-bar-chart-o text-2x text-info m-y-sm"></i>
						</div>
						<div class="clear">
							<div class="text-muted">Session Deviation</div>
							<h4 class="m-a-0 text-md _600"><a href>0.1 Hours</a></h4>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="box p-a">
						<div class="pull-left m-r">
							<i class="fa fa-pencil-square-o text-2x text-success m-y-sm"></i>
						</div>
						<div class="clear">
							<div class="text-muted">Commits Pushed from Cloud</div>
							<h4 class="m-a-0 text-md _600"><a href>4</a></h4>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="box p-a">
						<div class="pull-left m-r p-r-sm">
							<i class="fa fa-clock-o text-2x text-accent m-y-sm"></i>
						</div>
						<div class="clear">
							<div class="text-muted">Mean Session Time</div>
							<h4 class="m-a-0 text-md _600"><a href>0.4 Hours</a></h4>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="row-col box-color text-center teal">
						<div class="row-cell p-a-2">
							Commits from Cloud IDE
							<h4 class="m-a-0 text-md _600"><a href>25%</a></h4>
						</div>
						<div class="row-cell p-a-2 blue">
							Collaborative Coding Sessions
							<h4 class="m-a-0 text-md _600"><a href>4</a></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="box">
				<div class="box-header">
					<h3>Commit History from Cloud</h3>
					<small>List of Commits (master) past 7 days</small>
				</div>
				<div class="box-body" style="overflow-y: auto; height:210px">
					<ul class="list inset">
						<li class="list-item">
							<a herf class="list-left">
								<span class="w-40 r-2x _600 text-lg">
									#
								</span>
							</a>
							<div class="list-body">
								<div class="m-y-sm pull-right">
									<a href class="btn btn-xs white">View<i class="pull-right fa fa-pencil"></i></a>
								</div>
								<div><a href>Added new test cases</a></div>
								<div class="text-sm">
									<span class="text-muted">on 23/1/16 02:54PM</span>
								</div>
							</div>
						</li>
						<li class="list-item">
							<a herf class="list-left">
								<span class="w-40 r-2x _600 text-lg">
									#
								</span>
							</a>
							<div class="list-body">
								<div class="m-y-sm pull-right">
									<a href class="btn btn-xs white">View<i class="pull-right fa fa-pencil"></i></a>
								</div>
								<div><a href>Migrated test cases to another folder</a></div>
								<div class="text-sm">
									<span class="text-muted">on 23/1/16 02:54PM</span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="row white m-y">
		<div class="box-header">
			<h2><i class="fa fa-tasks pull-left"></i>Tasks</h2>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="box">
				<div class="box-header">
					<h3>Tasks History</h3>
					<small>History of task activities</small>
				</div>
				<div class="box-body">
					<div class="box-body" style="overflow-y: auto; height:195px">
						<ul class="list inset">
							<li class="list-item">
								<a herf class="list-left">
									<span class="w-40 r-2x _600 text-lg">
										#
									</span>
								</a>
								<div class="list-body">
									<div class="m-y-sm pull-right">
										<a href class="btn btn-xs white">View<i class="pull-right fa fa-pencil"></i></a>
									</div>
									<div><a href>Added new task: "Lorem ipsum ...."</a></div>
									<div class="text-sm">
										<span class="text-muted">on 23/1/16 02:54PM</span>
									</div>
								</div>
							</li>
							<li class="list-item">
								<a herf class="list-left">
									<span class="w-40 r-2x _600 text-lg">
										#
									</span>
								</a>
								<div class="list-body">
									<div class="m-y-sm pull-right">
										<a href class="btn btn-xs white">View<i class="pull-right fa fa-pencil"></i></a>
									</div>
									<div><a href>Changed task "Test Task" to <strong>Closed</strong></a></div>
									<div class="text-sm">
										<span class="text-muted">on 23/1/16 02:54PM</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6">
			<div class="row">
				<div class="col-xs-6">
					<div class="box p-a">
						<div class="pull-left m-r">
							<i class="fa fa-upload text-2x text-danger m-y-sm"></i>
						</div>
						<div class="clear">
							<div class="text-muted">Tasks Added</div>
							<h4 class="m-a-0 text-md _600"><a href>2</a></h4>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="box p-a">
						<div class="pull-left m-r p-r-sm">
							<i class="fa fa-clock-o text-2x text-accent m-y-sm"></i>
						</div>
						<div class="clear">
							<div class="text-muted">Tasks Assigned</div>
							<h4 class="m-a-0 text-md _600"><a href>5</a></h4>
						</div>
					</div>
				</div>				
				<div class="col-xs-6">
					<div class="box p-a">
						<div class="pull-left m-r">
							<i class="fa fa-pencil-square-o text-2x text-success m-y-sm"></i>
						</div>
						<div class="clear">
							<div class="text-muted">Tasks Closed</div>
							<h4 class="m-a-0 text-md _600"><a href>10</a></h4>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="box p-a">
						<div class="pull-left m-r">
							<i class="fa fa-bar-chart-o text-2x text-info m-y-sm"></i>
						</div>
						<div class="clear">
							<div class="text-muted">Tasks Pending</div>
							<h4 class="m-a-0 text-md _600"><a href>2</a></h4>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="row-col box-color text-center teal">
						<div class="row-cell p-a-2">
							Tasks Activities
							<h4 class="m-a-0 text-md _600"><a href>20%</a></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row grey m-y">
		<div class="box-header">
			<h2><i class="fa fa-rocket pull-left"></i>Milestones</h2>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6">
			<div class="row">
				<div class="col-xs-6">
					<div class="box p-a">
						<div class="pull-left m-r">
							<i class="fa fa-upload text-2x text-danger m-y-sm"></i>
						</div>
						<div class="clear">
							<div class="text-muted">Milestones Added</div>
							<h4 class="m-a-0 text-md _600"><a href>4</a></h4>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="box p-a">
						<div class="pull-left m-r">
							<i class="fa fa-bar-chart-o text-2x text-info m-y-sm"></i>
						</div>
						<div class="clear">
							<div class="text-muted">Commits Deviation</div>
							<h4 class="m-a-0 text-md _600"><a href>27 Hours</a></h4>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="box p-a">
						<div class="pull-left m-r">
							<i class="fa fa-pencil-square-o text-2x text-success m-y-sm"></i>
						</div>
						<div class="clear">
							<div class="text-muted">Lines Added / Removed</div>
							<h4 class="m-a-0 text-md _600"><a href>750 / 2000</a></h4>
						</div>
					</div>
				</div>
				<div class="col-xs-6">
					<div class="box p-a">
						<div class="pull-left m-r p-r-sm">
							<i class="fa fa-clock-o text-2x text-accent m-y-sm"></i>
						</div>
						<div class="clear">
							<div class="text-muted">Mean Commit Time</div>
							<h4 class="m-a-0 text-md _600"><a href>62 Hours</a></h4>
						</div>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="row-col box-color text-center teal">
						<div class="row-cell p-a-2">
							Contribution (Commits)
							<h4 class="m-a-0 text-md _600 text-warning"><a href>5%</a></h4>
						</div>
						<div class="row-cell p-a-2 blue">
							Contribution (LOC)
							<h4 class="m-a-0 text-md _600"><a href>15% / 24%</a></h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6">
			<div class="box">
				<div class="box-header">
					<h3>Milestones History</h3>
					<small>History of task activities</small>
				</div>
				<div class="box-body" style="overflow-y: auto; height:210px">
					<ul class="list inset">
						<li class="list-item">
							<a herf class="list-left">
								<span class="w-40 r-2x _600 text-lg">
									#
								</span>
							</a>
							<div class="list-body">
								<div class="m-y-sm pull-right">
									<a href class="btn btn-xs white">View<i class="pull-right fa fa-pencil"></i></a>
								</div>
								<div><a href>Added new test cases</a></div>
								<div class="text-sm">
									<span class="text-muted">on 23/1/16 02:54PM</span>
								</div>
							</div>
						</li>
						<li class="list-item">
							<a herf class="list-left">
								<span class="w-40 r-2x _600 text-lg">
									#
								</span>
							</a>
							<div class="list-body">
								<div class="m-y-sm pull-right">
									<a href class="btn btn-xs white">View<i class="pull-right fa fa-pencil"></i></a>
								</div>
								<div><a href>Migrated test cases to another folder</a></div>
								<div class="text-sm">
									<span class="text-muted">on 23/1/16 02:54PM</span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>