<div class="row-col">
  <div class="col-sm-3 col-lg-2">
    <div class="p-y">
      <div class="nav-active-border left b-{{app.setting.theme.primary}}">
        <ul class="nav nav-sm">
          <li class="nav-item">
            <a class="nav-link block active" data-toggle="tab" href="#account">Account Settings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link block" data-toggle="tab" href="#ranges">Date Ranges</a>
          </li>
          <li class="nav-item">
            <a class="nav-link block" data-toggle="tab" href="#track">Tracked Milestones</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-sm-9 col-lg-10 light lt bg-auto">
    <div class="tab-content pos-rlt">
      <div class="tab-pane active" id="account">
        <div class="p-a-md dker _600 text-md">Account Settings <i class="fa fa-user fa-fw"></i></div>
        <form role="form" class="p-a-md col-md-6">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" ng-model="vm.account.name">
          </div>
          <div class="form-group">
            <label>New Password</label>
            <input type="password" class="form-control" ng-model="vm.account.password">
          </div>
          <div class="form-group">
            <label>Role</label>
            <input type="text" class="form-control" ng-model="vm.account.role">
          </div>
          <button type="submit" class="btn btn-info m-t" ng-click="vm.updateAccount()">Update</button>
        </form>
      </div>
      <div class="tab-pane" id="ranges">
        <div class="p-a-md dker _600 text-md">Date Ranges <i class="fa fa-calendar-o fa-fw"></i></div>
        <form role="form" class="p-a-md col-lg-12 col-xl-10">
          <div class="form-group row">
            <label class="col-sm-2 form-control-label">Range</label>
            <div class="col-sm-10">
              <input type="text" class="form-control w-auto inline" ng-model="vm.description" placeholder="Description">
              <input type="text" size="8" class="form-control w-auto inline" ng-model="vm.fromDate" data-max-date="{{vm.untilDate}}"
                data-icon-left="fa fa-chevron-left" data-icon-right="fa fa-chevron-right" placeholder="From"
                bs-datepicker>
              <input type="text" size="8" class="form-control w-auto inline" ng-model="vm.untilDate" data-min-date="{{vm.fromDate}}"
                data-icon-left="fa fa-chevron-left" data-icon-right="fa fa-chevron-right" placeholder="Until"
                bs-datepicker>
              <button class="btn btn-default" ng-click="vm.addRange()">
                <i class="fa fa-plus fa-lg"></i>
              </button>
            </div>
          </div>

          <div class="form-group row">
            <ul class="list-group m-b" html-sortable="vm.sortableOptions" ng-model="vm.ranges">
              <li class="list-group-item" ng-repeat="range in vm.ranges">
                <div class="block _500">
                  {{range[1]}}
                  <span class="pull-right clear text-ellipsis text-black-lt">
                    {{range[2] | amDateFormat: 'DD/MM/YYYY'}} to {{range[3] | amDateFormat: 'DD/MM/YYYY'}}
                     <a ng-click=vm.removeRange($index)><i class="p-l-sm fa fa-times fa-fw"></i></a>
                  </span>
                </div>
              </li>
            </ul>
          </div>
          <button type="submit" class="btn btn-info" ng-click="vm.updateRanges()">Save</button>
        </form>
      </div>
      <div class="tab-pane" id="track">
        <div class="p-a-md dker _600 text-md">Tracked Milestones <i class="fa fa-rocket fa-fw"></i></div>
        <form role="form" class="p-a-md col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 form-control-label">Milestone</label>
            <div class="col-sm-8">
              <input type="text" class="form-control w-auto inline" ng-model="vm.milestone" placeholder="Milestone">
              <button class="btn btn-default" ng-click="vm.addMilestone()">
                <i class="fa fa-plus fa-lg"></i>
              </button>
            </div>
          </div>

          <div class="form-group row">
            <ul class="list-group m-b" html-sortable="vm.sortableOptions" ng-model="vm.milestones">
              <li class="list-group-item" ng-repeat="milestone in vm.milestones">
                <div class="block _500">
                  {{milestone[1]}}
                  <span class="pull-right clear text-ellipsis text-black-lt">
                     <a ng-click=vm.removeMilestone($index)><i class="p-l-sm fa fa-times fa-fw"></i></a>
                  </span>
                </div>
              </li>
            </ul>
          </div>
          <button type="submit" class="btn btn-info" ng-click="vm.updateMilestones()">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>
